# PlatformIO
.pio/

# VS Code
.vscode/

# Build artifacts
dist/
build/

# Node Dependencies
node_modules/

# Logs and debug files
*.log
*.err
build_err.txt
build_error.txt
build_output.txt
ts_errors.txt
build.txt
app/build_log.txt
app/build_output.txt

# Environment variables
.env
.env.*

# Project specific exclusions
stitch/
test/
# data
espn_preact_setup_guide.md
app/package-lock.json
collage bell server/server/uploads/
collage bell server/server/dummy.bin
